.footer {
  background: #0c1a32;
  color: #fff;
  padding: 50px 40px 20px;
  font-family: Arial, sans-serif;
}

/* Top Part */
.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.footer-col {
  width: 250px;
}

.footer-col h2.logo {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-col h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-col ul li {
  list-style: none;
  color: #ccc;
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-col ul li:hover {
  color: #fff;
}

.social-icons svg {
  font-size: 20px;
  margin-right: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons svg:hover {
  color: #00aaff;
}

.footer-col p {
  color: #ccc;
  margin-bottom: 12px;
}

.footer-col p svg {
  margin-right: 8px;
  color: #1abc9c;
}

.small {
  display: block;
  margin-left: 26px;
  font-size: 13px;
  color: #aaa;
}

/* Bottom Part */
.footer-bottom {
  border-top: 1px solid #334a6f;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 14px;
}

.bottom-icons span {
  margin-right: 15px;
}

.bottom-icons svg {
  margin-right: 5px;
  color: #1abc9c;
}

.bottom-links span {
  margin-right: 15px;
  cursor: pointer;
  color: #ccc;
}

.bottom-links span:hover {
  color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
  }
}
