.Secion1 {
  position: relative;
  width: 100%;
  height: 120vh;
  background:linear-gradient(135deg, rgba(16, 185, 129, 0.9), rgba(5, 150, 105, 0.9)), url(../../assets/imges23/search-image18.jpg);;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

/* overlay green */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content {
    margin-top: 200px;
  position: relative;
  text-align: center;
  color: white;
  max-width: 900px;
}

/* BUTTON */
.limited-btn {
  background: #ff4747;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  color: white;
}

/* TITLES */
.title {
  font-size: 55px;
  margin: 0;
  font-weight: 800;
}

.subtitle {
  font-size: 40px;
  margin-top: 5px;
}
.subtitle span {
  color: #ffeb3b;
}

/* DESC */
.desc {
  margin: 15px 0 30px;
  font-size: 18px;
}

/* COUNTDOWN */
.countdown {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.box {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px 25px;
  border-radius: 10px;
}
.box h3 {
  font-size: 35px;
  margin: 0;
}

/* FEATURES CARDS */
.features {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 35px;
}

.card {
  background: rgba(255, 255, 255, 0.15);
  padding: 20px;
  width: 220px;
  border-radius: 12px;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

/* BUTTONS */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 190px;
}

.shopBtn {
  padding: 12px 30px;
  background: #ffca28;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.5s;
}
.shopBtn:hover{
    background: #ffb300c7;
} 
.viewBtn {
  padding: 12px 30px;
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 8px;
  transition: 0.5s;
}
.viewBtn:hover {
    background: white;
    color: #000;

}

.icon12{
    background-color: #ffca28;
    color: #000;
    font-size: 25px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
    border-radius: 50%;
}